spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/orders
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false

server:
  port: 8080
